In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

# Import modules for future uses
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# Read files (in kaggle way)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# read train.csv as training data
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
# use head() to get the top of the data
train_data.head()

In [ ]:
# read test.csv as testing data
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
# use head() to get the top of the data
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
# pd.loc to access data in array based on given column(s)
# Find female survivors in training data
women = train_data.loc[train_data.Sex == 'female']["Survived"]
# Find the rate of survived women by adding the (0/1) then divide the amount of women
rate_women = sum(women)/len(women)

# Print the percentage of women
print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [ ]:
# pd.loc to access data in array based on given column(s)
# Find male survivors in training data
men = train_data.loc[train_data.Sex == 'male']["Survived"]
# Find the rate of survived women by adding the (0/1) then divide the amount of women
rate_men = sum(men)/len(men)

# Print the percentage of women
print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [ ]:
# Implementing Random Forest Model
from sklearn.ensemble import RandomForestClassifier

# assign y to the survived passengers in training data
y = train_data["Survived"]

# Build trees based on the features selected
features = ["Pclass", "Sex", "SibSp", "Parch"]
# Assign X/X_test to the numerical variables from the training/testing data
# Use pd.get_dummies to convert categorical variable to a numerical one
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

# Implement random forest classifier with argument
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# TRY to fit the model
model.fit(X, y)
# use model.predict to save the model's predictions
predictions = model.predict(X_test)

# Assign output to a dataframe
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# Assign output to a csv file
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!