In [37]:
# Import modules for future uses
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [38]:
# read train.csv as training data
train_data = pd.read_csv("/Users/alexmak/Desktop/CMPUT/Personal/summer2023/TitanicProject/train.csv")
# use head() to get the top of the data
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
# read test.csv as testing data
test_data = pd.read_csv("/Users/alexmak/Desktop/CMPUT/Personal/summer2023/TitanicProject/test.csv")
# use head() to get the top of the data
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [40]:
# pd.loc to access data in array based on given column(s)
# Find female survivors in training data
women = train_data.loc[train_data.Sex == 'female']["Survived"]
# Find the rate of survived women by adding the (0/1) then divide the amount of women
rate_women = sum(women)/len(women)

# Print the percentage of women
print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [41]:
# pd.loc to access data in array based on given column(s)
# Find male survivors in training data
men = train_data.loc[train_data.Sex == 'male']["Survived"]
# Find the rate of survived women by adding the (0/1) then divide the amount of women
rate_men = sum(men)/len(men)

# Print the percentage of women
print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [42]:
# TEST: trying to find age's correlation with survival rate
priority = train_data.loc[(train_data.Age <=15)| (train_data.Age>=70)]["Survived"]
# Find the rate of survived women by adding the (0/1) then divide the amount of women
rate_priority = sum(priority)/len(priority)

# Print the percentage of women
print("% of youth and old who survived:", rate_priority)

% of youth and old who survived: 0.5555555555555556

In [43]:
# TEST: trying to find passenger classes' correlation with survival rate
pclass = train_data.loc[train_data.Pclass==3]["Survived"]
# Find the rate of survived women by adding the (0/1) then divide the amount of women
rate_pclass = sum(pclass)/len(pclass)

# Print the percentage of women
print("% of first class passengers who survived:", rate_pclass)
# % of 1st class passengers who survived: 0.6296296296296297
# % of 2nd class passengers who survived: 0.47282608695652173
# % of 3rd class passengers who survived: 0.24236252545824846

% of first class passengers who survived: 0.24236252545824846

In [44]:
# TEST: trying to find fare's correlation with survival rate
fare = train_data.loc[train_data.Fare>100]["Survived"]
# Find the rate of survived women by adding the (0/1) then divide the amount of women
rate_fare = sum(fare)/len(fare)

# Print the percentage of fare
print("% of passengers whose fare >100 who survived:", rate_fare)
# % of passengers whose fare >100 who survived: 0.7358490566037735

% of passengers whose fare >100 who survived: 0.7358490566037735

In [45]:
# Implementing Random Forest Model
from sklearn.ensemble import RandomForestClassifier
# assign y to the survived passengers in training data
y = train_data["Survived"]

# Build trees based on the features selected
features = ["Pclass", "Sex", "SibSp", "Parch", "Fare"]
# Assign X/X_test to the numerical variables from the training/testing data
# Use pd.get_dummies to convert categorical variable to a numerical one
X = pd.get_dummies(train_data[features])

X_test = pd.get_dummies(test_data[features])
X_test['Fare'] = X_test['Fare'].fillna(0)

# Implement random forest classifier with argument
model = RandomForestClassifier(n_estimators=1000, max_depth=10, random_state=1)
# TRY to fit the model
model.fit(X, y)
# use model.predict to save the model's predictions
predictions = model.predict(X_test)

# Assign output to a dataframe
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# Assign output to a csv file
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

# Decision Tree parameter (learned from sklearn):

criterion: Function to measure split {“gini”, “entropy”, “log_loss”}

splitter: strat to split each node, best for best split; random for best random split {“best”, “random”}

max_depth: tree max dept, usually none

min_samples_split: min # of samples to split, usually 1

min_samples_leaf: min # of samples to be a leaf, usually 1

min_weight_fraction_leaf: min weight fraction of the sum of all weights to be a leaf node

max_feature: # of features to consider when look at best split, usually int, RandomState instance or None, default=None

random_state: randomness of the estimator, usually nt, RandomState instance or None, default=None, used because when max_features<=nfeatures algo always select max_features

max_leaf_nodes: usually int or default None aka unlimited

min_impurity_decrease: node splits if this split induce an impunity larger than given value

class_weight: weighting of classes, usually in dict, list of dict or “balanced”, default=None

ccp_alpha: complexity parameter used for cost-complexity pruning (CCP), default=0.0